Q1. How do you comment code in Python? What are the different types of comments?

->Python code is commented using # at the beginning of code sentence
->Different types of comments are:-
Single line comment using #
Multi line comment using # at the begining of every sentence
Docstring comment or multiple comments using """ wherein long sizeable size code or explanation can be given

In [3]:
#This is comment
"""This is for comment purpose"""
n =[1,2,3,4]

Q2. What are variables in Python? How do you declare and assign values to variables?

-> Variables are containers for storing data values.
Variables cannot be keywords of python.Variables are such that it should start with alphabet and then can be clubbed with numbers and underscore
-> x = 8  =>x is the variable  and number 8 is assigned to it

In [4]:
x = 8

Q3. How do you convert one data type to another in Python?

->Data type can be converted by passing variable inside new data type
This is valid for python specific data type as well like List,set,Tuple.

### Below example for explanation of data type and its conversion

In [18]:
y = 8
a = float(y)
print(type(y))
print(type(a))
print("***********Thus we see y that is int type get converted to float and stored in a variable************")


z = (1,2,3,4,6,6,4)
print(z)
print(type(z))
b = list(z)
print(type(b))
print(b)
c = set(z)
print(type(c))
print(c) # set doesn't allow repetition

<class 'int'>
<class 'float'>
***********Thus we see y that is int type get converted to float and stored in a variable************
(1, 2, 3, 4, 6, 6, 4)
<class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 6, 6, 4]
<class 'set'>
{1, 2, 3, 4, 6}

Q4  How do you write and execute a Python script from the command line?

--> Type python in command line shell->python version comes up->(Filename.py)-executes python code

In [20]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list = [1,2,3,4,5]
sliced_list = my_list[1:3]
print(sliced_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex no is combination of real and imaginary number - x+iy where i imaginary number

In [23]:
x = 2+3j
print(type(x))

<class 'complex'>

In [25]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
age =25
age
#Variable 'age' is declared and assigned value of 25 then age is called in next line

25

In [28]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

price = 9.99
print(type(price))

# data type is float as it is decimal

<class 'float'>

In [33]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

name = "Kirti Prakash"
print(name)
name

#using print it gives output as console while simply calling name doesn't give as console

Kirti Prakash

'Kirti Prakash'

In [35]:
#Q10. Given the string "Hello, World!", extract the substring "World".

String1 = "Hello, World!"
String1[7:12]

'World'

In [38]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student = True
x=input("Tell whether studying or something else")
if x == 'studying':
    print(is_student)
else:
    print("False")
    
#written a code simply asking user to enter details then displaying True false as per variable

Tell whether studying or something elsestudying
True