Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
s=pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
list1 =[10,20,30,40,50,60,70,80,90,100]
print(pd.Series(list1))

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [21]:
data = {'Name':['alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}
df = pd.DataFrame(data)
df1=df.to_string(index=False)
print(df1)

  Name  Age Gender
 alice   25 Female
   Bob   30   Male
Claire   27 Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

->A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

Dimensions
The dimensions of the data are where a Pandas Series and a single-column DataFrame most obviously diverge. A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index. The labels for the data are contained in the index, which is a second column.

Functionality
There are certain distinctions in the extra features that a Series and a single-column DataFrame offer, despite the fact that they share many common functionalities. Additional features like filtering, merging, and joining is accessible in a single-column DataFrame but not in a Series.

Data Alignment
Based on the index labels, a Pandas Series can be aligned with another Series or DataFrame. Even if the index labels are ordered differently, the alignment makes sure the data is correctly matched. Data alignment is also supported in a single-column DataFrame, but it is determined by the column label.

Performance
For actions that only involve one column of data, a Series performs more quickly than a single-column DataFrame. This is so because a Series has a more straightforward structure than a DataFrame with one column.

In [22]:
#For Series-Only one column allowed
import pandas as pd
s=pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [23]:
#for dataframe-There are 3 rows and 3 columns
data = {'Name':['alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}
df = pd.DataFrame(data)
df1=df.to_string(index=False)
print(df1)

  Name  Age Gender
 alice   25 Female
   Bob   30   Male
Claire   27 Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.. df.dropna()
Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name
Renaming the columns of dataframe using rename(), arguments passed are the columns to be renamed & inplace. 
-->country_code = df.rename(columns={'Name': 'CountryName','Code': 'CountryCode'},inplace=False)
country_code

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

-->Panel and dataframe are mutable


Q7. Create a DataFrame using multiple Series. Explain with an example.

In [29]:
import pandas as pd
s=pd.Series([1,2,3,4],name='index')
n=pd.Series(['Shub','Var','Rah','Man'],name='Name')
m=pd.Series([78,58,69,89],name='Marks')
df = pd.concat([s,n,m],axis=1)
df1 = df.to_string(index=False)
print(df1)

 index Name  Marks
     1 Shub     78
     2  Var     58
     3  Rah     69
     4  Man     89