In [1]:
str = "This is PWSkills Assignment"
#String variable

In [2]:
l = [1,2,99,'Jupyter',2.5]
#List variable

In [3]:
f = 2.5

In [4]:
t = (2,'Apple','Python')

In [5]:
print(type(str))
print(type(l))
print(type(f))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. State datatypes of following:

1. var1 = ' '
Ans- str type

2. var2 = '[DS,ML,Python]'
Ans- str type

3. var3 = ['DS','ML','Python']
Ans- List type

4. var4 =1
Ans- int type

In [6]:
var1 =''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain following operator using example

1. /  -  operator is used for division giving quotient as result in float datatype Ex 22/4 is 5.5
2. %  -  operator is used to give remainder after dividing 26%5 is 1
3. // -  operator is used for division giving quotient as result with result as integer datatype. Ex 22//4 is 5
4. ** -  operator is used for power ex- 2**3 gives result as 8

In [7]:
22/4

5.5

In [8]:
26%5

1

In [9]:
22//4

5

In [10]:
2**3

8

In [11]:
L1 = [11, 29, 1, 4, 'Python', True, 4.5, 'apple', 6.98, False]
for i in L1:
    print(i, "is of datatype  ", type(i))

11 is of datatype   <class 'int'>
29 is of datatype   <class 'int'>
1 is of datatype   <class 'int'>
4 is of datatype   <class 'int'>
Python is of datatype   <class 'str'>
True is of datatype   <class 'bool'>
4.5 is of datatype   <class 'float'>
apple is of datatype   <class 'str'>
6.98 is of datatype   <class 'float'>
False is of datatype   <class 'bool'>

In [12]:
a = int(input("Enter a number A"))
b = int(input("Enter a number B"))
while b!=0 :
    if a%b == 0:
        x = a//b
        print("A is divided by b with quotient as ",x)
        break

Enter a number A 30
Enter a number B 5

A is divided by b with quotient as  6

In [13]:
a = int(input("Enter a number A"))
b = int(input("Enter a number B"))
while b!=0 :
    if a%b == 0:
        x = a//b
        print("A is divided by b with quotient as ",x)
    else:
        print("A is not divided by B completely. It leaves some remainder or float value")
        break

Enter a number A 30
Enter a number B 4

A is not divided by B completely. It leaves some remainder or float value

In [14]:
L2 = [1,22,33,45,57,29,335,69,4,10,9,11,31,63,45678,9876,9066,211,229,89,9543284,93,1267,95,2023]
for i in L2:
    if i%3 ==0:
        print("The no ",i,"is divisible by 3")
    else:
        print("The no ",i,"is not divisible by 3")

The no  1 is not divisible by 3
The no  22 is not divisible by 3
The no  33 is divisible by 3
The no  45 is divisible by 3
The no  57 is divisible by 3
The no  29 is not divisible by 3
The no  335 is not divisible by 3
The no  69 is divisible by 3
The no  4 is not divisible by 3
The no  10 is not divisible by 3
The no  9 is divisible by 3
The no  11 is not divisible by 3
The no  31 is not divisible by 3
The no  63 is divisible by 3
The no  45678 is divisible by 3
The no  9876 is divisible by 3
The no  9066 is divisible by 3
The no  211 is not divisible by 3
The no  229 is not divisible by 3
The no  89 is not divisible by 3
The no  9543284 is not divisible by 3
The no  93 is divisible by 3
The no  1267 is not divisible by 3
The no  95 is not divisible by 3
The no  2023 is not divisible by 3

In [15]:
#leaving it blank

List is mutable datatype. Ex - l =[0,2,3] is list then l[1] = 1 will replace 2
Tuple is immutable Ex - t = (1,2,3)

In [16]:
l = [0,2,4]
l

[0, 2, 4]

In [17]:
l[1]=1

In [18]:
l

[0, 1, 4]

In [19]:
t = (0,1,2)
t

(0, 1, 2)

In [21]:
t(1)=2

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2337175149.py, line 1)