Q1>  What is a database? Differentiate between SQL and NoSQL databases.

-> Database is organised collection of data in structured(MySQL) or unstructured(MongoDB) form.
SQL Database is structured and comes with predefined schema,language while NoSQL is document based and may store data in any organised or unorganised for but can be retrieved by its key as it's document form
NoSQL handles higher data traffic concurrently than SQl. This is the reason NoSQL is more preferred nowadays
SQL databases follow ACID properties (Atomicity, Consistency, Isolation, and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability, and Partition tolerance).
SQL is good for complex query compared to NoSQL

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

->  DDL (Data Definition Language) is a type of SQL command used to define the structure in way data is stored and modify data. It creates, alters, and deletes database objects such as tables, views, indexes, and users. Examples of DDL statements include CREATE, ALTER, DROP and TRUNCATE.
CREATE is used to make a new table defining its schema,name of columns,its datatype,property
DROP is used to remove data from database along with its schema i.e coplte removal
ALTER is used to modify schema of table i.e changes in column
TRUNCATE is used to empty table. Removal of data from existing table

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

->Data Manipulation LAnguage(DML) are the commands used to enter data inside database(table) wherein schema has been predefined by DDL.
INSERT is used to enter fresh data in table
UPDATE is used to alter en existing data in table
DELETE is used to remove data from table

Q4. What is DQL? Explain SELECT with an example.

->The DQL statements is used to query the data and information contained in database with predefined schema. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.
SELECT is used to extract data from database.SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program
SELECT * FROM DB1

Q5. Explain Primary Key and Foreign Key.

->A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.The table allows only one primary key. Thus helping in data retrieval as record gets identified by primary key

A foreign key is used to link or build a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
  
Cursor Allows Python code to execute SQL command in a database session. Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection using close()
execute is used to run query/command
cursor.execute()  -  This method executes the given database operation (query or command)

Q7. Give the order of execution of SQL clauses in an SQL query.

->  JOIN > FROM > WHERE > GROUP BY > HAVING > SELECT > DISTINCT > ORDER BY > LIMIT